<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
">

    <!--2.配置bean-->
    <!--bean标签标示配置bean
    id属性标示给bean起名字
    class属性表示给bean定义类型-->
    <bean id="bookDao" class="top.smartliu.dao.impl.BookDaoImpl"/>

    <bean id="bookService" class="top.smartliu.service.impl.BookServiceImpl">
        <constructor-arg name="bookDao" ref="bookDao"></constructor-arg>
    </bean>

    <bean id="crudDao" class="top.smartliu.dao.impl.CrudDaoImpl"/>
    <bean id="crudService" class="top.smartliu.service.impl.CrudServiceImpl">
        <constructor-arg name="crudDao" ref="crudDao"></constructor-arg>
    </bean>

    <!--加载jdbc.properties-->
    <context:property-placeholder location="classpath:jdbc.properties"/>

    <!--数据源对象-->
    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
        <property name="driverClassName" value="${jdbc.driver}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
    </bean>

    <!--jdbc模板对象-->
    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <!--注解的组件扫描-->
    <context:component-scan base-package="top.smartliu"/>

    <!--aop 注释以下代码块，使用注解方式。需要查看注解使用，请看git提交历史-->
    <!--目标对象-->
    <!--<bean id="target" class="top.smartliu.aop.Target"></bean>-->

    <!--切面对象-->
    <!--<bean id="myAspect" class="top.smartliu.aop.MyAspect"></bean>-->

    <!--配置织入：告诉spring框架 哪些方法(切点)需要进行哪些增强(前置、后置...)-->
    <!--<aop:config>-->
    <!--    &lt;!&ndash;声明切面&ndash;&gt;-->
    <!--    <aop:aspect ref="myAspect">-->
    <!--        <aop:before method="before" pointcut="execution(public void top.smartliu.aop.Target.save())"/>-->
    <!--    </aop:aspect>-->
    <!--</aop:config>-->

    <!--aop自动代理-->
    <aop:aspectj-autoproxy />
</beans>