<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--namespace:名称空间-->
<mapper namespace="top.smartliu.dao.StudentMapper">
    <resultMap id="userMap" type="top.smartliu.domain.User">
        <result column="name" property="username"></result>
    </resultMap>

    <!--user编辑报红，指无法解析别名。但程序是正常的-->
    <select id="findById" parameterType="int" resultType="user" resultMap="userMap">
        select * from students where id=#{id}
    </select>

    <!--动态SQL-->
    <sql id="selectUser">select * from students</sql>
    <!--多条件查询-->
    <select id="findByCondition" parameterType="user" resultType="user" resultMap="userMap">
        <include refid="selectUser"></include>
        <where>
            <if test="username!=null">
                and name=#{username}
            </if>
            <if test="age!=null">
                and age=#{age}
            </if>
        </where>
    </select>

    <!--集合查询-->
    <select id="findByIds" parameterType="list" resultType="user" resultMap="userMap">
        <include refid="selectUser"></include>
        <where>
            <foreach collection="list" open="id in(" close=")" item="id" separator=",">
                #{id}
            </foreach>
        </where>
    </select>

    <!--通过id查询订单信息-->
    <select id="getOrderById" parameterType="int" resultType="order">
        select * from orderlist where id=#{id}
    </select>
</mapper>