<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--namespace:名称空间-->
<mapper namespace="userMapper">
    <resultMap id="userMap" type="top.smartliu.domain.User">
        <result column="name" property="username"></result>
    </resultMap>

    <select id="selectAll" resultMap="userMap">
        select id, name, age
        from students;
    </select>
    <insert id="insert" parameterType="top.smartliu.domain.User">
        insert into students values(#{id}, #{username}, #{age})
    </insert>
    <update id="update" parameterType="top.smartliu.domain.User">
        update students set name=#{username}, age=#{age} where id=#{id}
    </update>
    <delete id="delete" parameterType="java.lang.Integer">
        delete from students where id=#{id}
    </delete>

    <!--根据id进行查询-->
    <select id="findById" resultType="user" parameterType="int">
        select * from students where id=#{id}
    </select>
</mapper>